*{
    margin: 0;
    padding: 0;
}
.nav-item a{
    color: #e9e9e9;
    text-decoration: none;
    font-size:25px ;
}
.nav-item{
    float: left;
    margin-right: 31px;
    list-style: none;
    
    
}
img {
    float: left;
    height: 250px;
    width: 250px;
}
.raparticle{
    background-color: #f3d9c0;
}
.rockarticle{
    background-color: black;

}
.poparticle{
    background-color: #0b0b2f;
}
.poptext{
    font-size: 23.5px;
    color: #45cae9;
}
.classictext{
    font-size: 25px;
    color: #d8b518;
}
.raptext{
    font-size: 21px;
}
.rocktext{
    font-size: 24px;
    color: #5564f3;
}
nav{
   margin-right: 30px; 
   margin-left: 30px;
  
}
h1 {
    margin-left: 30px;
}
article{
    margin-bottom: 20px;
}
header {
color: #e9e9e9;
    width: 100%;
    height: 121px;
 background-color: #0a472b;  
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}
